// Variables.scss
$primary-color: #5f2020;
$secondary-color: #662821;
$accent-color: #F39C12;
$light-gray: #ECF0F1;
$font-family: 'Poppins', sans-serif;
$text-color: #333;
$light-bg: #F8F9FA;
$button-bg: #713B3B;
$button-text: #FFF;
